/*!
 * Marp / Marpit bitly theme.
 *
 * @theme bitly
 * @author Marcel Eichner <marcel.eichner@bit.ly>
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */

 @import-theme 'default';

 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');
 
 @import "lib/base";
 
 $primary: #EE6123;
 $secondary: #EFF7FC;
 $black: #1B294B;
 $background: #fff;
 $invert: #0E3042;
 
 
 /** Typography **/
 section {
   font-family: "ProximaNova ExtraBold","Helvetica Neue",Helvetica,Arial,sans-serif;
   h1 {
     font-weight: 900;
     font-size: 2.75em;
   }
   h2 {
     font-size: 2em;
   }
   h2, h3 {
     font-weight: 700;
   }
   p {
     font-weight: 400;
   }
 }
 
 section {
   color: $black;
   background: $background;
   header, footer {
     color: mix($background, $black);
   }
 }
 
 section.lead {
   background: $primary;
   color: $background;
   
   header, footer {
     color: $background;
   }
   h1 {
     color: $background;
   }
   h2, h3, h4, h5 {
     color: $background;
   }
   h1, h2, h3, h4, h5, p {
     text-align: center;
   }
 }
 
 section.invert {
   background: $invert;
   h1, h2, h3, h4, h5 {
     color: $background;
   }
 }
 
 section.chapter {
   background: $secondary;
   color: #0E3042;
   code {
     color: invert($background);
   }
   h1, h2, h3, h4, h5 {
     color: #0E3042;
   }
   h1, h2, h3, h4, h5, p {
     text-align: center;
   }
   header, footer {
     color: $background;
   }
 }