/*!
 * Marp / Marpit Egoditor theme.
 *
 * @theme egoditor
 * @author Marcel Eichner <love@ephigenia.de>
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
@import-theme "default";
a {
  color: inherit;
  text-decoration: underline;
}

section header, section footer {
  font-size: 0.5em;
}
section footer {
  text-align: right;
  right: 2em;
}
section header {
  text-align: left;
  left: 2em;
}
section h1 > img, section h2 > img, section h3 > img, section h4 > img, section h5 > img, section h6 > img {
  vertical-align: text-bottom;
}

/** general **/
kbd {
  font-size: 0.75em;
  line-height: 1em;
  height: 1em;
}

code {
  font-family: "Menlo", "PT Mono", "Andale Mono", "Droid Sans Mono", "Consolas", "Courier New";
}

/** Typography **/
section {
  font-family: "Source Sans Pro", sans-serif;
}
section h1 {
  font-weight: 900;
  font-size: 2.75em;
}
section h2 {
  font-size: 2em;
}
section h2, section h3 {
  font-weight: 700;
}
section p {
  font-weight: 400;
}

section {
  color: #1B294B;
  background: #fff;
}
section header, section footer {
  color: #8d94a5;
}

section.lead {
  background: #1E94F3;
  color: #fff;
}
section.lead header, section.lead footer {
  color: #fff;
}
section.lead h1 {
  color: #fff;
}
section.lead h2, section.lead h3, section.lead h4, section.lead h5 {
  color: #ffe135;
}
section.lead h1, section.lead h2, section.lead h3, section.lead h4, section.lead h5, section.lead p {
  text-align: center;
}

section.invert {
  background: #ffe135;
}
section.invert h1, section.invert h2, section.invert h3, section.invert h4, section.invert h5, section.invert p {
  color: #1B294B;
}

section.chapter {
  background: #FEE5F1;
  color: rgb(27, 41, 75);
}
section.chapter code {
  color: black;
}
section.chapter h1, section.chapter h2, section.chapter h3, section.chapter h4, section.chapter h5 {
  color: rgb(27, 41, 75);
}
section.chapter h1, section.chapter h2, section.chapter h3, section.chapter h4, section.chapter h5, section.chapter p {
  text-align: center;
}
section.chapter header, section.chapter footer {
  color: #fff;
}
