/*!
 * Marp / Marpit marceleichner theme.
 *
 * @theme marceleichner
 * @author Marcel Eichner <love@ephigenia.de>
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */
@import-theme "default";
a {
  color: inherit;
  text-decoration: underline;
}

section header, section footer {
  font-size: 0.5em;
}
section footer {
  text-align: right;
  right: 2em;
}
section header {
  text-align: left;
  left: 2em;
}
section h1 > img, section h2 > img, section h3 > img, section h4 > img, section h5 > img, section h6 > img {
  vertical-align: text-bottom;
}

/** general **/
kbd {
  font-size: 0.75em;
  line-height: 1em;
  height: 1em;
}

code {
  font-family: "Menlo", "PT Mono", "Andale Mono", "Droid Sans Mono", "Consolas", "Courier New";
}

/** Typography **/
section {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
}
section header, section footer {
  font-size: 0.5em;
}
section h1 {
  font-weight: 900;
  font-size: 2.5em;
}
section h2 {
  font-size: 2em;
}
section p {
  font-weight: 400;
}
section kbd {
  padding: 0.25rem 0.25rem;
}

section {
  color: #000;
  background: #fff;
}
section kbd {
  border: 1px solid gray;
}
section h1, section h2, section h3 {
  color: #e2231a;
}

section.lead {
  box-shadow: inset 0 0 0 0.5rem #e2231a;
}
section.lead h1 {
  border-bottom: 0.5rem solid #e2231a;
}
section.lead h2, section.lead h3, section.lead h4, section.lead h5, section.lead p {
  color: inherit;
}
section.lead h1 {
  color: #e2231a;
}
section.lead h1, section.lead h2, section.lead h3, section.lead h4, section.lead h5, section.lead p {
  text-align: center;
}

section.chapter {
  box-shadow: inset 0 0 0 0.25rem #00833d;
  background: #fff;
  color: #000;
}
section.chapter h1 {
  border-bottom: 0.25rem solid #00833d;
  color: #00833d;
}
section.chapter h1, section.chapter h2, section.chapter h3, section.chapter h4 {
  color: #00833d;
}
section.chapter h1, section.chapter h2, section.chapter h3, section.chapter h4, section.chapter h5, section.chapter p {
  text-align: center;
}

section.invert {
  color: white;
  background: black;
}
section.invert h1 {
  color: #00833d;
}
section.invert h1, section.invert h2, section.invert h3, section.invert h4, section.invert h5, section.invert p {
  text-align: center;
}
section.invert code {
  background: #333333;
}
